body {
    padding: 0;
    margin: 0;
}
.welcome {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: #d9e1e6;
}

.main__contener {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 12px;
    width: 1148px;
    margin: auto;
    position: relative;

}
.welcome__close {
    display: inline;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
}
.welcome__text {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #868f93;
    vertical-align: middle;
}

.header {
   position: relative;
    height: 100px;

}
.header__language{
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    top: 44px;
    bottom: 0;
    right: 0;

}
.header__language-image {
    vertical-align: middle;
    margin-right: 6px;
}

.header__flag {
    border-width: 0;
    font-size: 12px;
    color: #111111;

}

.header__logo {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.header__logo-img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
 }
.header__cart{
    vertical-align: middle;
    display: table-cell;
    text-align: center;

}
.header__cart-button {
    width: 125px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #ded3aa;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;

}

.nav {
    position: relative;
    height: 70px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;

}
.nav__menu {
    font-weight: bold;
    vertical-align: middle;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    margin: auto;
    left: 0;
    top: 15px;
    bottom: 0;
    right: 0;
}
.nav__menu-home {
    vertical-align: middle;
    display: inline;
    text-align: center;
    margin-right: 50px;
}
.fa-caret-down {
    color: #999999;
    margin-left: 10px;
}
.nav__menu-men {
    vertical-align: middle;
    display: inline;
    text-align: center;
    margin-right: 50px;
}
.nav__menu-women {
    vertical-align: middle;
    display: inline;
    text-align: center;
    margin-right: 50px;
}
.nav__menu-lookbook {
    vertical-align: middle;
    display: inline;
    text-align: center;
    margin-right: 50px;
}
.nav__menu-about {
    vertical-align: middle;
    display: inline;
    text-align: center;
    margin-right: 50px;
}
.nav__menu-blog {
    vertical-align: middle;
    display: inline;
    text-align: center;
    margin-right: 0;
}


.nav__bar {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    top: 7px;
    bottom: 0;
}
.nav__bar-icon {
    font-size: 16px;
}
.nav__wishlist {
    display: block;
    position: absolute;
    margin: auto;
    right: 49px;
    top: 25px;
    bottom: 0;
    font-size: 16px;
}
.nav__search {
    display: block;
    position: absolute;
    right: 3px;
    top: 25px;
    bottom: 0;
    font-size: 16px;
    height: 28px;
    padding-left: 15px;
    border-left: 1px dotted #999999;
}

.content__image {
    width: 658px;
    margin: 0 0 100px 0;
    position: relative;
    display: inline-block;
    float: left;
}

.content__big-image {
    width: 100%;
    display: block;
    margin: 50px 3px 20px 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.content__image-item {
    display: inline;

}
.content__image-small {
    display: inline;
    margin-right: 20px;
    width: 147px;
    height: 170px;
}
.content__image-small:nth-child(4) {
    margin-right: 0;
}
.content {
    display: inline-block;
    position: relative;
    margin-left: 14px;
    float: left;
    margin-top: 60px;
}
.content__nav {
    margin-bottom: 40px;
    margin-left: 110px;
}
.content__nav-anchor {
    font-size: 14px;
    color: #68899a;
    text-decoration: none;
}
.content__title {
    margin-left: 110px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}
.content__review {
    margin-left: 110px;
    font-size: 13px;
    color: #969696;
    margin-bottom: 25px;
}
.fa-star {
    color: #ded3aa;
}
.fa-star:last-child{
    color: #dfdfde;
}
.content__review-anchor {
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration-color: #969696;
}
.content__price {
    margin-left: 110px;
    color: #68899a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.content__info {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;

}
.content__info-id {
    color: #68899a;
    display: inline;

}

.content__description {
    margin-left: 15px;
    margin-top: 35px;
    font-size: 14px;
    color: #555555;
    list-style-image: url("img/marker.png");
}
.content__description-list {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -20px;
    line-height: 25px;
}
.content__color,
.content__size,
.content__qty {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    float: left;
}
.content__qty {
    margin-right: 0;
}
.content__color-select,
.content__size-select,
.content__qty-select {
    margin-left: 0;
    margin-top: 20px;
    font-size: 13px;
    color: #838383;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 30px;
}
.content__color-select {
    width: 165px;
    margin-right: 25px;
}
.content__size-select {
    width: 165px;
    margin-right: 25px;
}
.content__qty-select {
    width: 65px;
    margin-right: 0;
}
.content__clear {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #6a6a6a;
    margin-bottom: 40px;
    margin-left: 15px;
}
.content__cart {
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.content__wishlist{
    float: left;
    margin-bottom: 40px;
    margin-right: 0;
}
.content__cart-button {
    width: 215px;
    height: 55px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #000000;
    box-sizing: border-box;
    background-color: #111111;
    box-shadow: none;
}
.content__wishlist-button {
    width: 225px;
    height: 55px;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #e1e1e1;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: none;
}
.content__social {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;

}
.content__share {
    text-transform: uppercase;
    display: inline;
    margin-right: 60px;
    margin-left: 15px;
}
.content__facebook-button {
    color: #ffffff;
    font-size: 11px;
    width: 45px;
    height: 20px;
    border: 1px solid #4a66ba;
    box-sizing: border-box;
    background-color: #4a66ba;
    box-shadow: none;
    border-radius: 2px;
    margin-right: 4px;
    padding: 0;
}

.content__share-button {
    color: #ffffff;
    font-size: 10px;
    width: 40px;
    height: 20px;
    border: 1px solid #5572cc;
    box-sizing: border-box;
    background-color: #5572cc;
    box-shadow: none;
    border-radius: 2px;
    margin-right: 2px;
}
.content__share-count {
    display: inline;
    width: 35px;
    height: 20px;
    font-size: 10px;
    color: #929292;
    padding: 3px;
    border-style: solid;
    border-width: 2px 2px 2px 4px;
    -moz-border-image: url(img/share.png) 2 2 2 4;
    -webkit-border-image: url(img/share.png) 2 2 2 4;
    -o-border-image: url(img/share.png) 2 2 2 4;
    border-image: url(img/share.png) 2 2 2 4;
    margin-right: 15px;
}
.content__tweet-button {
    color: #636363;
    font-size: 11px;
    width: 55px;
    height: 20px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 2px;
    margin-right: 2px;
    padding: 0;
}
.fa-twitter {
    font-size: 13px;
    color: #00acee;
}
.content__tweet-count {
    display: inline;
    font-size: 11px;
    color: #929292;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px 2px 2px 3px;
    -moz-border-image: url(img/tweet.png) 2 2 2 3;
    -webkit-border-image: url(img/tweet.png) 2 2 2 3;
    -o-border-image: url(img/tweet.png) 2 2 2 3;
    border-image: url(img/tweet.png) 2 2 2 3;
    margin-right: 15px;
}
.content__pinit-button{
    width: 40px;
    height: 20px;
    border: 1px solid #afafab;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 2px;
    margin-right: 2px;
}
.content__pinit-button-img {
    width: 28px;
    height: 12px;
}
.content__pitit-count {
    display: inline;
    font-size: 11px;
    color: #929292;
    padding: 3px;
    width: 35px;
    height: 20px;
    border-style: solid;
    border-width: 2px 2px 2px 8px;
    -moz-border-image: url(img/pin.png) 2 2 2 8;
    -webkit-border-image: url(img/pin.png) 2 2 2 8;
    -o-border-image: url(img/pin.png) 2 2 2 8;
    border-image: url(img/pin.png) 2 2 2 8;
}
.clear{
    clear: left;
}

.footer {
    height: 70px;
    float: bottom;
    border-top: 1px solid #e1e1e1;
}
.footer__copyrights {
    font-size: 13px;
    color: #b5b5b5;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-top: 30px;

}